.ListBox {
    position: relative;
    width: fit-content;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    background: var(--listbox-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--listbox-bg);
    width: 100%;


    &.top {
        bottom: 100%;
    }

}

.option {
    padding: 10px 20px;
}

.active {
    background-color: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.5;
}