.profileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.input:not(:last-child) {
    margin-bottom: 10px;
}

.loading,
.error {
    height: 300px;
}

.editing {
    border-color: var(--inverted-primary-color);
}
