.Page {
    flex-grow: 1;
    padding: 20px;
    padding-left: 45px;
    width: auto;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    flex-shrink: 100;
}

.triggerRef {
    height: 1px;
}
